#{extends 'main.html'/}

<a href="/">Retourner à l'accueil</a><br/><br/>


<br/><br/>

max : ${tailleListes.get(1)}

<div class="tableau">
    <div class="col1">
        <div class="ligne1">Top <a href="@{ChampionsController.create(ligne="Top")}"><img src="/public/images/add-icon.png"/></a>
        </div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Top")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}

        <div class="ligne"></div>
    </div>
    <div class="col">
        <div class="ligne1">Jungle <a href="@{ChampionsController.create(ligne="Jungle")}">&{'Ajouter'}</a>
        </div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Jungle")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}
    </div>
    <div class="col">
        <div class="ligne1">Mid <a href="@{ChampionsController.create(ligne="Mid")}">&{'Ajouter'}</a>
        </div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Mid")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}
    </div>
    <div class="col">
        <div class="ligne1">Adc <a href="@{ChampionsController.create(ligne="Adc")}">&{'Ajouter'}</a>
        </div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Adc")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}</div>
    <div class="col">
        <div class="ligne1">Support <a href="@{ChampionsController.create(ligne="Support")}">&{'Ajouter'}</a>
        </div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Support")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}
    </div>
</div>

<!--<br/><br/>-->
<!--Champions TOP : <br/><br/>-->

<!--#{list items:listeChampion, as:'champion'}-->
<!--#{if champion.ligne.equals("Top")}-->
<!--${champion_index} : ${champion.nom},${champion.ligne}-->
<!--#{/if}-->
<!--#{/list}-->

<!--<br/>-->
<!--Nombre de champions dans la liste : ${listeChampion.size()}-->
