#{extends 'main.html'/}

<a href="/">Retourner à l'accueil</a><br/><br/>

<a href="@{ChampionsController.create(ligne="Top")}">&{'Ajouter un champion en Top'}</a><br/>
<a href="@{ChampionsController.create(ligne="Mid")}">&{'Ajouter un champion en Mid'}</a>

<br/><br/>

max : ${tailleListes.get(1)}

<div class="tableau">
    <div class="col1">
        <div class="ligne1">top</div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Top")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}

        <div class="ligne"></div>
    </div>
    <div class="col">
        <div class="ligne1">jungle</div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Jungle")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}
    </div>
    <div class="col">
        <div class="ligne1">mid</div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Mid")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}
    </div>
    <div class="col">
        <div class="ligne1">adc</div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Adc")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}</div>
    <div class="col">
        <div class="ligne1">support</div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Support")}
        <div class="ligne">${champion.nom}</div>
        #{/if}
        #{/list}
    </div>
</div>

<!--<br/><br/>-->
<!--Champions TOP : <br/><br/>-->

<!--#{list items:listeChampion, as:'champion'}-->
<!--#{if champion.ligne.equals("Top")}-->
<!--${champion_index} : ${champion.nom},${champion.ligne}-->
<!--#{/if}-->
<!--#{/list}-->

<!--<br/>-->
<!--Nombre de champions dans la liste : ${listeChampion.size()}-->
